<div class="blok-footer">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat modi
  porro quod aspernatur deserunt id nostrum debitis quia exercitationem vel,
  tenetur reiciendis error eius nesciunt voluptatum optio commodi hic!
  <ul class="social">
    <li class="social__item">
      <a href="#" class="social__link">
        <svg class="social__icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg></a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link">
        <svg class="social__icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-telegram"></use>
        </svg></a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link">
        <svg class="social__icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-facebook"></use>
        </svg></a>
    </li>
  </ul>
</div>
