<div class="blok">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat modi
  porro quod aspernatur deserunt id nostrum debitis quia exercitationem vel,
  tenetur reiciendis error eius nesciunt voluptatum optio commodi hic!
</div>
<ul class="social">
  <li class="social__item">
    <a href="#" class="social__link">github</a>
  </li>
  <li class="social__item">
    <a href="#" class="social__link">telegram</a>
  </li>
  <li class="social__item">
    <a href="#" class="social__link">facebook</a>
  </li>
</ul>